*{
    margin:0;
    padding: 0;

}

body{
    margin:auto ;
    background-color: black;

}
h2 {
    color: azure;
    font-family: cursive;
}
h3{
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.memecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.memediv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
        padding: 20px;
    
}
.memediv img {
    margin-top: 40px;
    width: 500px;           /* Set a fixed width */
    height: 400px;          /* Set a fixed height */
          /* Cover the container while maintaining aspect ratio */
    border-radius: 8px;    /* Optional: rounded corners */

    display: block;
    margin: 3 auto;
    border: solid rgb(207, 216, 42);
    border-width: 5px;
}

.buttonClick{
    margin-bottom: 40px;
    background-color: green;
    font-size: 2rem;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.buttonClick:hover{
    box-shadow: 5px 5px 5px rgb(48, 108, 98);

}
